#contain{
    background-color: #FBE288;
}

h2{
    margin: 2em 0 2em 0;
}

h3{
    margin: 1em 0 1em 0;
}

form{
    padding: 0 50px 20px 50px;

}

button{
    text-align: center;
}

.infocontact a{
    font-size: larger;
}

.hoversass{
    transition: transform 0.5s;
    &:hover{
        transform: scale(1.05);
    }
}