@import "color_var.scss";

h3{
    padding: 2em 0 2em 0;
    text-align: center;
}

p,h4{
    margin: 0;
}


h4{
    padding: 0.5em 0 0.5em 0;
    text-align: center;
}

main{
    background-image: url(../img/pineapple-pattern-background.jpg);
    background-attachment: fixed;
    background-size: contain;
    .jumbotron-fluid{
        background-color: rgba($color: $jasmine, $alpha: 0.9);
        padding: 10em 0 10em 0;
        h1{
            margin: 0 0 2em 0;
        }
    }
    .new{
        background-color: white;
        img{
            box-shadow: $black_shadow;
        }
    }
    .news{
        background-color: rgba($color: $persian_orange, $alpha: 0.9);
        a{
            background: rgba($jasmine, 0.8);
            box-shadow: $black_shadow;
            margin: 0 0 2em 0;
            padding: 0.5em;
            transition: transform 0.5s;
            &:hover{
                transform: scale(1.05);
            }
            p{
                font-size: x-large;
            }
        }
    }
}

