@import "color_var.scss";

.italic{
    font-style: italic;
}

h1,h2,h3{
    padding: 0.5em 0 0.5em 0;
}

h4{
    font-size: medium;
}

main{
    background-color: white;
    padding: 0 0 0 0;
    font-weight: bold;
    .bg{
        background-image: url(../img/pastel-1725965_1920.png);
        background-size: cover;
        margin: 0 0 20px 0;
        border-radius: 20px;
    }
    img{
        background-color: white;
        border-style: solid;
        border-width: 3px;
        border-color: white;
        box-shadow: $black_shadow;
        transition: transform 0.5s;
        &:hover{
            transform: scale(1.1);            
        }
    }
    li{
        display: flex;
        justify-content: space-between;
    }
}

