@import "color_var.scss";

body{
    background-image: url(../img/pineapple_bg.png);
    background-position: left;
    background-attachment: fixed;
    background-size: 100% auto;
    nav{
        background-color: $raisin_black;
    }
    main{
        .mainContainer{
            background-color: $jasmine;
            .headerImg{
                background-image: url("../img/pineapple-pattern-background.jpg");
                height: 130px;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .color-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $jasmine;
                opacity: 0.3;
                height: 50px;
             }
             .bgCard{
                 background-color: $persian_orange;
                 border: 2px solid black;
             }
             .accordion{

                .card{
                        background-color: $persian_orange;
                    a{

                        .card-header{

                            h2{
                                text-align: center;
                            }
                        }
                    }
                }
             }
        }
    }
}